html {
    background-color: rgb(217, 240, 240);
}

#home {
    background: url(../Images/mint-green.png) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 350px;
    color: #fff;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5cm;
    text-align: left;
    font-family: Impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(122, 218, 189);
    padding: 10px;
}

.navbar {
    background-color: rgb(156, 194, 196);
}

.card {
    border: 1px solid rgba(107, 252, 228, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-form {
    text-align: center;
    padding: 12px 12px;
    width: 70%;
    margin: 2% auto;
    border-radius: 7px;
}

.badge {
    height: 25px;
    width: 100px;
    text-align: center;
    font-size: medium;
}

.foot {
    text-align: center;
}