body {
    margin: 0%;
}

h2 {
    color: rgb(255, 38, 0);
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    text-decoration: underline currentColor;
}

h1 {
    text-align: center;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#video_ {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

.navbar {
    background-color: rgb(41, 22, 22);
}

.nav-item:hover {
    background-color: red;
    font-weight: bold;
    text-decoration: underline currentColor;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    background-color: rgb(65, 66, 66);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid red;
}

.contact-form {
    text-align: center;
    padding: 12px 12px;
    width: 70%;
    margin: 2% auto;
    border-radius: 7px;
}

.btn {
    background-color: rgb(78, 40, 40);
    color: red;
    border: 1px red;
}

.btn:hover {
    background-color: red;
    color: rgb(255, 255, 255);
    text-decoration: underline currentColor;
}

.badge {
    height: 25px;
    width: 100px;
    text-align: center;
    font-size: medium;
    background-color: rgb(78, 40, 40);
    color: red;
    border: 1px red;
}

.badge:hover {
    background-color: red;
    color: rgb(255, 255, 255);
}

.foot {
    text-align: center;
}